<template>
  <b-container class="text-center mt-5">
    <img alt="Vue logo" src="./assets/logo-blue-clg-2020.png" />
    <h1>Colegium Cloud OTP Login</h1>
    <h4 v-if="message !== ''">{{ message }}</h4>
    <b-form inline v-if="user === null && session === null" class="justify-content-md-center">
      <b-form-input class="mr-2" v-model="logindata" placeholder="Ingrese usuario"></b-form-input>
      <b-button variant="outline-primary" @click="signIn">Loguearse</b-button>
    </b-form>
    <b-form inline v-if="user === null && session !== null" class="justify-content-md-center">
      <b-form-input class="mr-2" v-model="otp" placeholder="Ingrese codigo " @keypress="signOut"></b-form-input>
      <b-button variant="outline-primary" @click="verifyOtp">Confirmar</b-button>
    </b-form>
    <div class="mt-3">
      <b-button class="m-1" @click="verifyAuth">¿Estoy logueado?</b-button>
      <b-button class="m-1" variant="danger" @click="signOut">Desloguearse</b-button>
    </div>
  </b-container>
</template>

<script>
import Auth from "@aws-amplify/auth";
const NOTSIGNIN = "Usted no esta logueado";
const SIGNEDIN = "Correctamente logueado";
const SIGNEDOUT = "Correctamente deslogueado";
const WAITINGFOROTP = "Ingrese codigo numerico";
const VERIFYNUMBER = "Verificando numero";

export default {
  name: "App",
  data() {
    return {
      message: "",
      logindata: "",
      otp: "",
      session: null,
      user: null,
      password: Math.random().toString(10) + "Abc#"
    };
  },
  created: function() {
    let self = this;
    setTimeout(function() {
      self.verifyAuth();
    }, 3000);
  },
  methods: {
    signIn() {
      this.message = VERIFYNUMBER;
      const opts = {
        username: this.logindata,
        password: null,
        clientMetadata: {
          "type": "email"
        }
      }
      Auth.signIn(opts)
        .then(result => {
          this.session = result;
          this.message = WAITINGFOROTP;
        })
        .catch(e => {
          if (e.code === "UserNotFoundException") {
            //this.signUp();
          } else if (e.code === "UsernameExistsException") {
            this.message = WAITINGFOROTP;
            this.signIn();
          } else {
            console.log(e.code);
            console.error(e);
          }
        });
    },
    async signUp() {
      const result = await Auth.signUp({
        username: this.logindata,
        password: this.password,
        attributes: {
          phone_number: this.logindata,
          email: 'jherreros@colegium.com'
        }
      }).then(() => this.signIn());
      return result;
    },
    signOut() {
      console.log("Sign Out");
      if (this.user) {
        Auth.signOut();
        this.user = null;
        this.otp = "";
        this.message = SIGNEDOUT;
      } else {
        this.message = NOTSIGNIN;
      }
    },
    verifyAuth() {
      Auth.currentAuthenticatedUser()
        .then(user => {
          this.user = user;
          this.message = SIGNEDIN;
          this.session = null;
        })
        .catch(err => {
          console.error(err);
          this.message = NOTSIGNIN;
        });
    },
    verifyOtp() {
      Auth.sendCustomChallengeAnswer(this.session, this.otp)
        .then(user => {
          this.user = user;
          this.message = SIGNEDIN;
          this.session = null;
        })
        .catch(err => {
          this.signIn();
          this.message = err.message;
          this.otp = "";
          console.log(err);
        });
    }
  }
};
</script>
